.appContainer {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Ubuntu', sans-serif;
    
    min-height: 100vh;

    flex-direction: row;
}

// LEFT SIDE
.leftTile {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #1f1f1f;
}

// HEADER & TITLE
.header {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.title {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    // border-left: 2px solid white;

}

.sectionSelect {
    width: 200px;
    height: 55px;
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    align-items: center;

    margin: 0 10px;
    background-color: white;
    border-radius: 15px;
}

.section {
    height: 100%;
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;

    color: #272727;
    font-weight: 400;
    font-size: 20px;
    border-radius: 15px;

    &:hover {
        cursor: pointer;
    }

}


// ACTION PANEL
.actionPanel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


// RIGHT SIDE
.rightTile {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;

    background-color: #414141;
}

.timeLineTile {
    width: 100%;
    flex: 0 0 80px;

    background-color: #1f1f1f;
}

.timeLineWrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

.animationWrapper {
    margin: 20px;
    flex: 1 1 auto;
}
